
.patrocinadores {
  padding: 8rem 18rem 0rem 17rem;
}
.patrocinadores__titulo {
 font-weight: 700;
 font-size: 42px; 
 text-align: center;
 color: #212529;
 margin-bottom: 6rem;
  
}
.patrocinadores__titulo__destaque {
  color: #fb2a81;
}
.patrocinadores__imagem {
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  grid-gap: 24px 40px;
  align-items: center;
  padding-left: 3rem;
}